.wrapper{
    width: 1280px;
    margin: 0 auto;
font-family: 'Roboto', sans-serif;
}

.title{
    font-weight: 400;
font-size: 80px;
line-height: 94px;
display: flex;
align-items: flex-end;
text-align: center;
margin-top: 63px;
}

.black_title{
    color: #000000;
}

.menu a{
    text-decoration: none;
    color: white;
    width: 334px;
    margin-top: 63px;
}


a{
    text-decoration: none;
}

.blue_title{
    color:rgba(75, 202, 255, 1);
}

.menu{
    display: flex;
    list-style-type: none;
    background: #35444F;
    height: 69px;
   margin-top: 40px;
   justify-content: center;
   flex-direction: row;
   align-items: center;
   border: 1px solid black;
   
}

.menu_item_first{
   width: 130px;
height: 20px;

}

.menu_item{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
border: 1px solid white;
padding: 26px 38px 19px;
color: white;
}
.menu_item:hover{
    background-color: #222F3A;
}


.aside_menu{
    width: 344px;
    background: rgba(0, 0, 0, 0.0001);
border: 1px solid #000000;
margin-top: 49px;
}

.aside_menu a{
    color: 
    rgba(72, 88, 99, 1);
}

.aside_item{
    font-weight: 400;
font-size: 27px;
line-height: 27px;
display: flex;
flex-direction: column;
color: #485863;
font-family: 'Roboto', sans-serif;
padding: 26px 30px 30px 44px;
}

.aside_menu li:hover{
    background-color: #DBDBDB;
padding-left: 70px;

}

.section{ 
    margin-left: 52px;
    margin-top: 50px;
}

main{
    display: flex;
}

.main_img{ 
   
    width: 100%;
    height: 529px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    background: rgba(0, 0, 0, 0.0001);
}

.text{
    font-weight: 400;
font-size: 18px;
line-height: 24px;
margin-top: 37px;
margin-bottom: 34px;
}

.footer{
    width: 1280px;
    margin: 0 auto;
font-family: 'Roboto', sans-serif;
background: rgba(99, 105, 110, 0.48);
    height: 69px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 30px;
justify-content: center;
padding-left: 40px;
}


.Copyright{
    margin-left: auto;
   font-weight: 400;
font-size: 24px;
line-height: 24px;
padding-right: 40px;
}

.first{
    font-weight: 400;
    font-size: 28px;
    line-height: 28px; 
    color: #000000;
}

.first:hover{
    color:rgba(49, 129, 166, 1);
    text-decoration-line: underline;
}


